
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.box{
	width:100%;
	height:300px;
	background-color: lightblue;
	
}

.box1{
	width: 25%;
	height: 340px;
	background-color: red;
	float: left;
	margin-left: 6.25%;
	margin-top: 30px;
}

.box1 img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display:block;
	margin-left:atuo;
	margin-right:atuo;
	
	
	}