* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 400px;
    background-color: orange;
    background-image: url(./1.jpg);
    background-size: 110% 150%;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgba(238, 238, 238, 0.3);
    box-shadow: 1px 3px 5px rgba(246, 0, 0, 0.7);
}

nav .brand {
    width: 20%;
    height: 100%;
    float: left;
}

nav .brand a {
    display: inline-blocks;
    text-decoration: none;
    color: #ffffff;
    font-size: 3em;
    padding: 20px 30px;
    text-transform: uppercase;
    text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);
}

nav .navbar{
    width: 70%;
    height: 100%;
    float: right;
    list-style-type: none;
}

nav .navbar li {
    display: inline-block;
}

nav .navbar li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 36px 25px;
    border-right: 2px solid red;
}
 
nav .navbar li:last-child a {
    border-right: none;
}

nav .navbar li a:hover {
    background-color: rgba(210, 213, 213, 0.7);
    color: red;
}
main {
    width: 100%;
    height: 1000px;
}

#leftside {
    width: 20%;
    height: 100%;
    background-color: goldenrod;
    float: left;
}

#container {
    width: 79.5%;
    height: 100%;
    float: right;
}

#container .box1 {
    width: 100%;
    height: 20%;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.5);
}
#container .box1 figure {
    width: 15%; 
    padding: 35px;
    float: left;
}

#container .box1 figure img {
    width: 100px;
    height: 100px;
     
}

#container .box1 .details {
    width: 84%;
    height: 100%;
    float: right;
    overflow: auto;
    padding: 50px 5px;
}
footer {
    width: 100%;
    height: 300px;
    background-color: blue;
}