nav {
    width: 100%;
    height: 200px;
    position: fixed;
    background-color: red;

}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.box1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    position: fixed;
    right: 20px;
    bottom: 20px;

}
.box2 {
    display: none;
    width: 200px;
    height: 300px;
    background-color: yellow;
    position: absolute;
    right: inherit;
    bottom: 20px;
}
.box1:hover .box2 {
    display: block;
}