* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container {
    width: 90%;
    height: 100vh;
    background-color: rgb(55, 54, 54);
    margin: 0 auto;
}

.header,
.footer {
    width: 100%;
    height: 5vh; 
}

.header h2 {
    float: left;
    color: white;
    padding: 2px 15px;
}

.header .btns {
    float: right;
}


.header .btns button {
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    color: white;
 }  
 
.header .btns button:first-child:hover {
    background-color: rgb(31, 34, 34);
 }
 .header .btns button:last-child:hover {
    background-color: rgb(255, 0, 0);
 }

 .content {
    width: 100%;
    height: 90vh;
    background-color: rgb(197, 190, 190);
    padding: 0 0.5%;
 }

 .content ul {
    width: 14.5%;
    height: 100%;
    float: left;
    list-style-type: none;
    background-color: rgb(131, 127, 127);
 }

 .content ul li {
    margin: 3px 0;
    padding: 2px 10px;

 }
 .content ul li a {
    text-decoration: none;
    display: block;
    color: white;
 }
 .content iframe {
    width: 85%;
    height: 100%;
    float: right;
    background-color: rgb (151, 130, 130);
    border: none;
 }
 .footer button {
    width: 100px;
    padding: 8px 18px;
    margin: 0 5px;
    float: right;
    background-color: rgb(hg443, 48, 48);
    border: none;
    color: white;
 }
 .footer button {
    background-color: rgb(31, 34, 34);
 }