* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group {
    margin-left: 20px;
}

p {
    margin-left: 10px;
    margin-top: 40px;
    background-color: gray;
}

.form-group1 {
    margin-left: 20px;
    margin-top: 30px;
}

.form-group2 {
    margin-left: 10px;
    margin-top: 40px;
    background-color: gray;
}

.form-gorup3 {
    margin-left: 20px;
}

.form-group3 button {
    margin-top: 15px;
    float: right;
}