* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./pop-bg.jpg);
    background-size: 100% 880px;
    background-repeat: no-repeat;
}

#container {
    width: 80%;
    height: 300px;
    margin: 150px auto;
}

.sec1, .section1 {
    width: 50%;
    height: 100%;
}

.sec1 {
    float: left;
}

.sec1 img {
    display: block;
    margin-left: auto;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: right;
}

pre {
    color: white;
    text-align: right;
    font-size: 1.5em;
}

h1 pre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section1 {
    float: right;
}

.section1 article {
    width: 100%;
    height: 150px;
}

.section1 article figure {
    width: 45%;
    height: 130px;
    border: 2px solid white;
}

.section1 article figure:first-child {
    margin-left: 3%;
    float: left;
}

.section1 article figure:last-child {
    float: right;
}

.section1 article figure img {
    display: block;
    width: 30%;
    height: 80px;
    margin: auto;
}

.section1 article figure figcaption {
    color: #fff;
    text-align: center;
}

.section1 article figure:hover {
    background-color: rgba(0,0,0,0.9);
}

/* .section1 article figure::after {
    content: '';
    display: block;
    position: relative;
    top: -125px;
    width: 100%;
    height: 130px;
    background-color: rgba(0,0,0,0.5);
} */